extends layout

block content
    main.valign-wrapper.container
        #librarys.row
            .col.s12.m6
                .card.hoverable
                    .card-image
                        a(href='/library/books')
                            img(src="/images/books.png")
            .col.s12.m6
                .card.hoverable
                    .card-image
                        a(href='/library/albums')
                            img(src="/images/albums.png")
