html, body { height: 100%; }

header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.collection-item {
}
.artwork > img {
  overflow: auto;
  width: 100%;
}
.dataTable-table > thead > tr > td > a {
  color: black;
}

.dataTable-selector {
  display: unset;
}